:root {
    --white: #F2F4FC;
    --black: #292E47;
    --gray: #6B708D; 
    --gray-blue: #ECF7FF;
    --blue1: #072AC8;
    --blue2: #43D2FF;
    --blue3: #D1EDFF;
    --yellow: #FFC600;;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
    width: 100%;
}
section{
    padding: 3rem 2rem;
    border: 3px solid var(--gray);
}
header{
    height: 90dvh;
    padding: 1rem 2rem;
    border: 3px solid var(--gray);
}
h1{
    font-size: 3rem;
    font-weight: 800;
}
h2{
    font-size: 2rem;
    font-weight: 600;
}
h3{
    font-size: 1.5rem;
    font-weight: 600;
}
h4{
    font-size: 1.25rem;
    font-weight: 400;
}
button{
    background-color: var(--blue1);
    color: var(--gray-blue);
    padding: 0.5rem 1rem;
    border: none;
}
img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: var(--white);
}

/* ------------------------text classes */

.body-intro-text-24{
    font-size: 1rem;
    font-weight: 600
}
.body-intro-text-20{
    font-size: .8rem;
    font-weight: 300;
}
.headline-text-17-normal{
    font-size: .7rem;
    font-weight: 600;
    color: var(--gray);
}
.headline-text-17-lighter{
    font-size: .7rem;
    font-weight: 300;
}
.caption-1{
    font-size: .5rem;
    font-weight: 300;
}
.caption-2{
    font-size: .4rem;
    font-weight: 300;
}
.learn-more-link{
    font-size: .7rem;
    font-weight: 600;
    color: var(--blue1);
}


/* ------------------spacing classes */

.frame-1rem{
    margin: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
}

