

/* nav-bar */

.nav-bar{
    padding: 1rem 2rem;
    font-size: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-list ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    list-style: none;
    color: var(--dark-gray);
}

.nav-bar-list ul li a{
    text-decoration: none;
    font-weight: 500;
    color: var(--dark-gray)
}

/* ------------------------------- home-section */

.home-section-intro{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.home-section-intro p{
    text-align: center;
}
.home-section-intro-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem; 
}

@media (min-width: 481px) {

    .nav-bar{
        padding: 3rem 5rem;
        font-size: 1rem;
    }
    .nav-bar-list ul{
        gap: 3rem;
    }
}

@media (min-width: 780px) {
    .nav-bar{
        font-size: 1.5rem;
    }
    .nav-bar-list ul{
        gap: 5rem;
    }
}

@media (min-width: 1024px) {
    .nav-bar{
        padding: 3rem 10rem;
    }
    .nav-bar-list ul{
        gap: 7rem;
    }
}